*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 3%;
    background: linear-gradient(145deg, hsl(120, 100%, 50%), hsl(240, 100%, 50%));
}
main{}